<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.platform.base.dao.sys.PosterMapper">
	<select id="queryPosterByIds" resultType="java.util.HashMap">
	  select id, posterCode, posterName, eDesc, isValid, createUser from sys_poster where id in
	  <foreach item="item" index="index" collection="posterStrs"
	      open="(" separator="," close=")">
	        #{item}
	  </foreach>
	</select>
</mapper>