<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>进件</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>
</head>

<body>

<div class="pop" id="alertDiv" style="display:none">
    <div class="popbox">
        <div class="pop-txt">
            <span id="alertTxt">提示内容</span>
        </div>
        <div class="btn">
            <a href="JavaScript:void(0);" onclick="$('#alertDiv').css('display','none')" style="width:100%">确定</a>
        </div>
    </div>
    <div class="popbg"></div>
</div>

<div class="pop1" id="zancun" style="display: none;" data-id="">
    <div class="popbox1">
        <p>暂存成功</p>
        <div class="btn">
            <a id="loan" href="JavaScript:void(0);">重新进件</a>
            <a id="edit" href="JavaScript:void(0);">继续编辑</a>
        </div>
    </div>
    <div class="popbg1"></div>
</div>

<div class="pop1" id="yxtz" style="display: none;" data-id="">
    <div class="popbox1">
        <p>请先暂存数据</p>
        <div class="btn">
            <a id="qx" href="JavaScript:void(0);">取消</a>
            <a id="zjtz" href="JavaScript:void(0);">直接跳转</a>
        </div>
    </div>
    <div class="popbg1"></div>
</div>

<div class="pop1" id="xiugai" style="display: none;" data-id="">
    <div class="popbox1">
        <p>暂存成功</p>
        <div class="btn">
            <a id="back" href="JavaScript:void(0);">返回</a>
            <a id="edit2" href="JavaScript:void(0);">继续</a>
        </div>
    </div>
    <div class="popbg1"></div>
</div>

<div class="pop" id="loading" style="display:none">
    <div class="popbox">
        <div class="loading"><img th:src="@{/img/loading.gif}" alt=""><span id="loadTxt">提交中</span></div>
    </div>
    <div class="popbg"></div>
</div>

<div class="main main-2" id="mainList">

    <div class="box">
        <h5>贷款信息</h5>
        <div class="boxcontent">
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 借贷产品</span>
                <input type="hidden" id="loanProductApplyId" th:value="${loanProductApplyId} "/>
                <input type="hidden" id="loanProductId" name="loanProductId"/>
                <input type="text" id="loanProductName" name="loanProductName" necessity='1' readonly="readonly"
                       placeholder='借贷产品'/>
            </label>
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 进件编号</span>
                <input type="text" value="" id="intoPieceNo" name="intoPieceNo" necessity='1' readonly="readonly"
                       placeholder='进件编号'>
            </label>
            <label for="">

                <span><span style='color: red; font-weight:bold;'>*</span> 金额（￥）</span>
                <input type="number" class="monthlyPayments" id="applyAmount" name="applyAmount" necessity='1'
                       placeholder='金额'>
            </label>
            <div class="range-tip" style="display:none" id="tip">申请金额范围在1000~5000元之间</div>
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 借贷期限单位</span>
                <div class="selectbox">
                    <select id="termUnit" name="termUnit" readonly="readonly" necessity='1' placeholder='借贷期限单位'>
                        <option value="2" selected>月</option>
                    </select>
                </div>
            </label>
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 借贷期限</span>
                <select id="termCount" class="monthlyPayments" name="termCount" necessity='1'
                        placeholder='借贷期限'></select>
            </label>
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 还款方式</span>
                <div class="selectbox">
                    <select id="repayType" class="monthlyPayments" name="repayType" necessity='1' placeholder='还款方式'>
                        <option value="">请选择</option>
                        <!-- 							<option value="1">一次性还本付息</option> -->
                        <!-- 							<option value="2">按期还息到期还本</option> -->
                        <option value="3">等额本息</option>
                        <option value="4">等本等息</option>
                    </select>
                </div>
            </label>
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 月还款额</span>
                <input type="text" id="monthlyPayments" name="monthlyPayments" placeholder="月还款额" necessity='1'
                       readonly="readonly" class="necessity">
            </label>
            <label for="">
                <span><span style='color: red; font-weight:bold;'>*</span> 进件渠道</span>
                <input type="text" id="orgName" name="orgName" placeholder="进件渠道" readonly="readonly" necessity='1'>
            </label>

        </div>
    </div>
    <div class="box">
        <h5>申请人信息</h5>
        <div class="boxcontent">
            <label for="">
                <span>客户姓名</span>
                <input type="hidden" id="customerId" name="customerId">
                <input type="text" id="customerName" name="customerName" placeholder="客户姓名" readonly="readonly">
            </label>
            <label for="">
                <span>身份证号</span>
                <input type="text" id="credentialNo" name="credentialNo" placeholder="请输入身份证号码" readonly="readonly">
            </label>

            <label for="">
                <span>手机号</span>
                <input type="text" id="mobilePhone" name="mobilePhone" placeholder="请输入手机号" readonly="readonly">
            </label>

            <label for="" class="cl_f">
                <span>户籍地址</span>
                <textarea id="address" name="address"></textarea>
            </label>
        </div>
    </div>


</div>
<div class="actionbar">
    <a href="#" class="camara" id="camara"><img th:src="@{/img/camera.png}" alt=""></a>
    <ul class="cl_f">
        <li><a href="#" id="tempSave"><img th:src="@{/img/icon-save.png}" alt="">暂存</a></li>
        <li><a href="#" id="submtInfo"><img th:src="@{/img/icon-submit.png}" alt="">提交</a></li>
    </ul>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/json.js}"></script>
<script th:src="@{/js/weixin.js}"></script>
<script th:src="@{/js/redirect.js}"></script>
<script>

    var htmlFlag = 0;
    var state = 1 ;
    htmlFlag = getUrlParms('htmlFlag');
    var isZc = 0;
    var checkCulom = {};
    var param={};
    var loanProductApplyId, openId, modelId;
    $(function () {
        openId = $.cookie('openId');
        loanProductApplyId = $("#loanProductApplyId").val();
        $(".monthlyPayments").change(function () {
            if ($("#applyAmount").val() != '' && $("#repayType").val() != '') {
                $.zkbr.ajax({
                    url: "../wechat/getRepayment",
                    type: "post",
                    dataType: "json",
                    data: {
                        "amount": $("#applyAmount").val(),
                        "repayType": $("#repayType").val(),
                        "termCount": $("#termCount").val(),
                        "openId": openId
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.exceptionFlag == "0000" && data.responseCode == "00000000") {
                            $("#monthlyPayments").val(data.resultSet.mouthAmount);
                        } else {
                            $("#alertDiv").css('display', 'block');
                            $("#alertTxt").html(data.responseMessage);
                        }
                    }
                });
            }else if($("#repayType").val() == ''){
                $("#monthlyPayments").val('');
            }
        });


        //借贷产品
        $.zkbr.ajax({
            url: "../wechat/searchTempInfoById",
            type: "post",
            dataType: "json",
            data: {"loanProductApplyId": loanProductApplyId, "openId": openId},
            success: function (data) {
                if (data.exceptionFlag == "0000" && data.responseCode == "00000000") {

                    var result = data.resultSet;
                    var loanProductApplyInfo = result.loanProductApplyInfo;
                    var customerPublicInfo = result.customerPublicInfo;
                    var productModelData = eval('(' + result.productModelData + ')');
                    modelId = productModelData.productTitleDataList[0].modelId;
                    $("#loanProductId").val(loanProductApplyInfo.id);
                    $("#intoPieceNo").val(loanProductApplyInfo.code);

                    $("#loanProductName").val(loanProductApplyInfo.loanProductName);
                    $("#applyAmount").val(loanProductApplyInfo.applyAmount);
                    if (result.singleMinAmount && typeof(result.singleMinAmount) != "undefined") {
                        $("#tip").css("display", "block");
                        $("#tip").html("申请金额范围在" + result.singleMinAmount + "~" + result.singleMaxAmount + "元之间");
                    }

                    var singleMonths = result.singleMonths.split(",");
                    $("#termCount").empty();
                    $.each(singleMonths, function (index, value) {
                        if (loanProductApplyInfo.termCount == value) {
                            $("#termCount").append("<option value=" + value + " selected>" + value + "</option>");
                        } else {
                            $("#termCount").append("<option value=" + value + " >" + value + "</option>");
                        }
                    });
						
                    $("#termUnit").val(loanProductApplyInfo.termUnit);
                    $("#repayType").val(loanProductApplyInfo.repayType);
                    $("#monthlyPayments").val(loanProductApplyInfo.monthlyPayments);
                    $("#customerId").val(customerPublicInfo.id);
                    $("#customerName").val(customerPublicInfo.customerName);
                    $("#credentialNo").val(customerPublicInfo.credentialNo);
                    $("#mobilePhone").val(customerPublicInfo.mobilePhone);
                    $("#address").val(result.address);
                    $("#orgName").val(result.orgName);
                    //设置model
                    var productTitleDataList = productModelData.productTitleDataList;
                    //构建分类
                    $.each(productTitleDataList, function (i, clas) {
                        var div = $("<div class='box modelColum'  modelId='" + clas.modelId + "'><h5>" + clas.name + "</h5><div class='boxcontent'></div></div>");
                        var boxcontent = div.find(".boxcontent");
                        var item = clas.productModelColumnList;
                        $.each(item, function (j, colum) {
                            var necessity = "";
                            if (colum.necessity == "1") {
                                necessity = "<span style='color: red; font-weight:bold;'>*</span> ";
                            }
                            if (colum.inputType == "text") {
                                var lable = "";
                                lable += "<label for=''>";
                                lable += "<span>" + necessity + colum.name + "</span>";
                                var input = "";
                                //是否必填自定义变量
                                if (colum.dataType == "double" || colum.dataType == "decimal") {
                                    input = "<input type='number' validation='" + colum.validation + "'  validationMsg='" + colum.validationMsg + "'  necessity='" + colum.necessity + "' maxlength='" + colum.length + "' id='" + colum.code + "' value='" + colum.defValue + "' name='" + colum.code + "' placeholder='" + colum.name + "' class='necessity'>";
                                } else if (colum.dataType == "integer") {
                                    input = "<input type='number'  validation='" + colum.validation + "'  validationMsg='" + colum.validationMsg + "' necessity='" + colum.necessity + "' maxlength='" + colum.length + "' id='" + colum.code + "' value='" + colum.defValue + "' name='" + colum.code + "' placeholder='" + colum.name + "' class='necessity'>";
                                } else if (colum.dataType == "string") {
                                    input = "<input type='text' validation='" + colum.validation + "'  validationMsg='" + colum.validationMsg + "'  necessity='" + colum.necessity + "' maxlength='" + colum.length + "' id='" + colum.code + "' value='" + colum.defValue + "' name='" + colum.code + "' placeholder='" + colum.name + "' class='necessity'>";
                                }
                                lable += input;
                                lable += "</label>";
                                boxcontent.append(lable);
                            } else if (colum.inputType == "select") {
                                var lable = "";
                                lable += "<label for=''>";
                                lable += "<span>" + necessity + colum.name + "</span>";
                                lable += "<div class='selectbox'>";
                                lable += "<select necessity='" + colum.necessity + "'  id='" + colum.code + "' name='" + colum.code + "' class='necessity' placeholder='" + colum.name + "'>";
                                lable += "<option value=''>请选择</option>";
                                $.each(colum.dataRangDateList, function (k, list) {
                                    if (list.code != "" && list.code != undefined) {
                                        if(colum.defValue != ''){
                                        	if(list.code == colum.defValue){
                                        		lable += "<option selected='selected' value='" + list.code + "'>" + list.name+'&lrm;' + "</option>";
                                        	}else{
                                        		lable += "<option value='" + list.code + "'>" + list.name+'&lrm;' + "</option>";
                                        	}
                                        }else{
                                        	lable += "<option value='" + list.code + "'>" + list.name+'&lrm;' + "</option>";
                                        }
                                    }
                                })
                                lable += "</select>";
                                lable += "</div>";
                                lable += "</label>";
                                boxcontent.append(lable);
                            }
                        })
                        $(".main-2").append(div);
                    })
                    //分类添值
                    var modelData = result.modelData;
                    if (typeof(modelData) != "undefined") {
                        modelData = eval('(' + modelData + ')');
                        $.each(modelData.data, function (n, value) {//模型赋值
                            $("#" + value.code).val(value.val);
                        });
                    }
                } else {
                    $("#actionbar").hide();
                    $("#alertDiv").css('display', 'block');
                    $("#alertTxt").html("当前借贷信息已发生变更！");
                }

            }
        });


        $("#tempSave").click(function () {
            $("#loading").css("display", "block");

            var data = {};
            data.customerId = $("#customerId").val();
            data.mobilePhone = $("#mobilePhone").val();
            data.address = $("#address").val();
            //拼接loanProductApplyInfo
            var loanProductApplyInfo = {};
            loanProductApplyInfo.id = loanProductApplyId;
            loanProductApplyInfo.loanProductId = $("#loanProductId").val();
            loanProductApplyInfo.loanProductName = $("#loanProductName").val();
            loanProductApplyInfo.intoPieceNo = $("#intoPieceNo").val();

            loanProductApplyInfo.applyAmount = $("#applyAmount").val();
            loanProductApplyInfo.termUnit = $("#termUnit").val();
            loanProductApplyInfo.termCount = $("#termCount").val();
            loanProductApplyInfo.repayType = $("#repayType").val();
            loanProductApplyInfo.monthlyPayments = $("#monthlyPayments").val().replace("￥", "");
            data.loanProductApplyInfo = loanProductApplyInfo;
            var modelData = {};
            modelData.validate = "true";
            modelData.id = modelId;
            var modelTempData = ""
            $.each($(".modelColum"), function (i) {
                var item = $(this).find("input,select");
                $.each(item, function (j) {
                    var key = $(this).attr("id");
                    var value = $(this).val();
                    modelTempData += '"' + key + '":' + '"' + value + '"' + ',';
                })
            })
            modelTempData = modelTempData.substring(0, modelTempData.length - 1);
            modelTempData = "{" + modelTempData + "}";
            modelData.data = JSON.parse(modelTempData);
            data.modelData = JSON.stringify(modelData);
            console.log(data);
            var appinfo = JSON.stringify(data);
            $.zkbr.ajax({
                url: "../wechat/onlineTempLoanApply",
                type: "post",
                dataType: "json",
                data: {"appinfo": appinfo, "openId": openId},
                success: function (data) {
                    console.log(data);
                    if (data.exceptionFlag == "0000" && data.responseCode == "00000000") {
                        isZc = 1;
                        if (htmlFlag != 4) {
                            $("#loading").css("display", "none");
                            $("#zancun").css('display', 'block');
                        } else {
                            $("#loading").css("display", "none");
                            $("#xiugai").css('display', 'block');
                        }
                        //$("#alertTxt").html('暂存成功！');
                    } else {
                        $("#loading").css("display", "none");
                        $("#alertDiv").css('display', 'block');
                        $("#alertTxt").html(data.responseMessage);
                    }
                }
            });
        })


        $("#loan").click(function () {
            //window.location.href = "../wechat/main?openId=" + openId;
            param = {openId:openId,method:'main'};
            redirect(param);
        });

        $("#back").click(function () {
            //window.location.href = "../wechat/apply_manage?taskStatus=1" + "&openId=" + openId;
            param = {openId:openId,taskStatus:1,method:'apply_manage'};
            redirect(param);
        });

        $("#edit").click(function () {
            $("#zancun").hide();
        });

        $("#edit2").click(function () {
            $("#xiugai").hide();
        });


        $("#submtInfo").click(function () {
            var check = false;
            $('.main-2').find("input,select").each(function () {
                if ($(this).attr("type") != undefined && $(this).attr("type") == "hidden") return true;
                var necessity = $(this).attr("necessity");
                var validation = $(this).attr("validation");
                var validationmsg = $(this).attr("validationmsg");
                var value = $(this).val();
                if (necessity == "1" && value == "") {
                    $("#alertDiv").css('display', 'block');
                    //下拉框
                    if ($(this).attr("type") != undefined && $(this).attr("type") == "select") {
                        $("#alertTxt").html($(this).parent().html() + "不能为空");
                    } else {
                        //文本框
                        $("#alertTxt").html($(this).attr("placeholder") + "不能为空");
                    }
                    check = true;
                    return false;
                }
                //正则表达式
                if (validation != undefined && validation != "") {
                    validation = eval("(" + validation + ")");
                    var checkVal = validation.test(value);
                    if (!checkVal) {
                    	$("#alertDiv").css('display', 'block');
                        $("#alertTxt").html(validationmsg);
                        check = true;
                        return false;
                    }
                }


            })

            if (check) {
                return;
            }

            $("#loading").css("display", "block");
            $("#loadTxt").html("提交中");
            var data = {};
            data.customerId = $("#customerId").val();
            data.mobilePhone = $("#mobilePhone").val();
            data.address = $("#address").val();
            //拼接loanProductApplyInfo
            var loanProductApplyInfo = {};
            loanProductApplyInfo.id = loanProductApplyId;
            loanProductApplyInfo.loanProductId = $("#loanProductId").val();
            loanProductApplyInfo.loanProductName = $("#loanProductName").val();
            loanProductApplyInfo.intoPieceNo = $("#intoPieceNo").val();

            loanProductApplyInfo.applyAmount = $("#applyAmount").val();
            loanProductApplyInfo.termUnit = $("#termUnit").val();
            loanProductApplyInfo.termCount = $("#termCount").val();
            loanProductApplyInfo.repayType = $("#repayType").val();
            loanProductApplyInfo.monthlyPayments = $("#monthlyPayments").val().replace("￥", "");
            data.loanProductApplyInfo = loanProductApplyInfo;
            var modelData = {};
            modelData.validate = "true";
            modelData.id = modelId;
            modelData.data = {};
            var modelTempData = ""
            $.each($(".modelColum"), function (i) {
                var item = $(this).find("input,select");
                $.each(item, function (j) {
                    var key = $(this).attr("id");
                    var value = $(this).val();
                    modelTempData += '"' + key + '":' + '"' + value + '"' + ',';
                })
            })
            modelTempData = modelTempData.substring(0, modelTempData.length - 1);
            modelTempData = "{" + modelTempData + "}";
            modelData.data = JSON.parse(modelTempData);
            data.modelData = JSON.stringify(modelData);
            var appinfo = JSON.stringify(data);
            $.zkbr.ajax({
                url: "../wechat/loanApplyComplete",
                type: "post",
                dataType: "json",
                data: {"appinfo": appinfo, "openId": openId},
                success: function (data) {
                    console.log(data);
                    if (data.responseCode == "00000000") {
                        //window.location.href = "../wechat/result_detail?loanProductApplyId=" + loanProductApplyId + "&openId=" + openId;
                        param = {loanProductApplyId:loanProductApplyId,openId:openId,method:'result_detail'};
                        redirect(param);
                    } else {
                        $("#loading").css("display", "none");
                        $("#alertDiv").css('display', 'block');
                        $("#alertTxt").html(data.responseMessage);
                    }
                }
            });

        })
        $("#mainList").append("<a href='#' class='btn-back' style='left: 15px; right: auto;'><img src='../img/back.png' alt='' onclick='goMain()'></a>");

        $("#camara").click(function () {
            if (isZc == 0) {
                $("#yxtz").css('display', 'block');
            }
            else {
                    param = {loanProductApplyId:loanProductApplyId,openId:openId,htmlFlag:htmlFlag,method:'loan_apply'};
                    redirect(param,'/pages/image/image');

            }
        })
        $("#zjtz").click(function () {
                param = {loanProductApplyId:loanProductApplyId,openId:openId,htmlFlag:htmlFlag,method:'loan_apply'};
                redirect(param,'/pages/image/image');
        })
        $("#qx").click(function () {
            $("#yxtz").hide();
        })
    });

    function goMain() {
        if (htmlFlag == 4) {
            //window.location.href = "../wechat/apply_manage?openId=" + openId+"&htmlFlag="+htmlFlag+"&taskStatus="+1;
            //wx.miniProgram.redirectTo({url: '/pages/image/image?loanProductApplyId='+loanProductApplyId+'&openId='+openId+'&htmlFlag='+ htmlFlag+'&taskStatus=1'+'&method=apply_manage'});
            param = {loanProductApplyId:loanProductApplyId,openId:openId,htmlFlag:htmlFlag,taskStatus:1,method:'apply_manage'};
            redirect(param);
        } else {
            //window.location.href = "../wechat/main?openId=" + openId;
            //wx.miniProgram.redirectTo({url: '/pages/image/image?&openId='+openId+'&method=main'});
            param = {loanProductApplyId:loanProductApplyId,openId:openId,htmlFlag:htmlFlag,method:'main'};
            redirect(param);
        }
    }

    function getUrlParms(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }
</script>
</body>
</html>
