<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link>
<script th:src="@{/bootstrap/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<title>借款攻略</title>
</head>
<body>
	<div class="container">
		<h4>
			<p class="text-center">
				<strong>借款攻略</strong>
			</p>
		</h4>
	</div>
</body>
</html>