<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link>
<script th:src="@{/bootstrap/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<title>还款帮助</title>
</head>
<body>
	<div class="container">
		<h4>
			<p class="text-center">
				<strong>还款帮助</strong>
			</p>
		</h4>
		<ul>
			<li><p class="text-danger">如何还款</p></li>
			<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请在【今日还款】中查看待还款欠款，点击还款按钮即可还款，需要保证卡内金额充足</p>
			<li><p class="text-danger">为什么无法还款</p></li>
			<p class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确保银行卡可正常使用；请确保卡内金额充足；</p>
		</ul>
	</div>
</body>
</html>