<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link>
<script th:src="@{/bootstrap/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<title>关于我们</title>
</head>
<body>
	<div class="container">
		<h4>
			<p class="text-center">
				<strong>博纳百川、润福四海。中科博润，与您携手，共创IT科技新生态，开启互联网金融新征程</strong>
			</p>
		</h4>
		<p>2004年，北京中科博润科技股份有限公司成立于首都北京，依托中科院软件所的强大支撑，提出基于“IT+ ”的创新理念，为企业提供全面的IT产品及技术服务，帮助企业实现：以科技带动业务创新，用科技解决业务难题。目前已在北京、沈阳设有公司及分支机构，并为多家省部级单位、上市企业、大中型企业提供一站式IT+服务。</p>
		<p>在“以人为本”的理念指导下，公司凝聚了众多博士、硕士、MBA骨干，并拥有一支资深的金融顾问团队。正是这样一支专业创新、敢于在互金领域潜心耕耘的队伍，使得中科博润成为互联网金融行业IT软件服务商中的翘楚。</p>
		<p>随着大数据、云计算的快速发展，互联网与各行业的跨界融合成为时代最强音。如何利用先进的互联网技术，促进传统行业实现转型升级，成为中科博润持续发力的方向。依托专业的技术和服务支撑，中科博润逐渐形成独特的三大服务矩阵：互联网+金融、互联网+实体、政企信息化。</p>
		<p>精心耕耘，厚积薄发。北京中科博润科技股份有限公司于2016年10月24日正式登陆新三板。（证券简称中科博润，证券代码839455）新三板挂牌作为中科博润发展史上的里程碑和新起点，标志着公司在进一步规范企业发展、实现公司市值科学管理方面迈上了新的台阶。</p>
		<p>敞开思想，放开格局，通过联盟与开放式创新，中科博润发起并成立了中科互联网金融商学院，指导并举办博润互金大讲堂、名企探营、总裁有话说等活动，搭建人才交流共享的平台，时至今日已邀请多位实战派企业家、专家、学者等专业人士组成强大的讲师团，共同培育优质的互联网金融企业，促进行业的健康发展。</p>
		<p>不断发现价值、创造价值，兑现价值，中科博润人将继续用自己的智慧和才能，打造共创共享共赢的互联网生态圈，引领行业发展。中科博润不仅要成为金融业IT技术支柱，更要成为软件服务业的高价值品牌。</p>
	</div>
</body>
</html>