<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.platform.base.dao.activiti.VariateConfigMapper">
	<select id="getFlowVariateByWfKey" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		select constantKey, constantValue, dataType from variate_config where wfKey = #{wfKey}
	</select>
</mapper>