<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.platform.restapi.dao.loan.SysDictionaryMapper">
	<select id="getGlobalData" resultType="java.util.HashMap">
		
		SELECT
			name, 
			value
		FROM
			global_config
		ORDER BY 
			sort
			
	</select>
</mapper>